
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <title>Einkaufsprotokoll</title>
</head>

<h1>WG APP</h1>

<h3>Neuer Einkauf</h3>

<form (ngSubmit)="createPurchase()">
  <select (change)="onChange($event)">
    <option *ngFor="let user of users" [value]="user.id">{{user.username}}</option>
  </select>
  <input type="text" id="productName" required="required" [(ngModel)]="newPurchase.productName"
         placeholder="Produktname" name="productName">

  <input type="date" id="buyTime" name="buyTime" [(ngModel)]="newPurchase.buyTime"
          required="required">

  <input type="number" id="price" name="price" required="required" placeholder="Preis" [(ngModel)]="newPurchase.price">

  <input type="submit">
</form>


<h3>Einkaufsprotokoll</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Einkäufer</th>
      <th>Produktname</th>
      <th>Datum</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let purchase of purchases">
      <td>{{purchase.user.username}}</td>
      <td>{{purchase.productName}}</td>
      <td>{{purchase.buyTime | date: 'dd/MM/yyyy'}}</td>
      <td>{{purchase.price}}</td>
      <td><button (click)="deletePurchase(purchase.id)">delete</button></td>
    </tr>
  </tbody>
</table>

<p>Summe der Einkäufe: {{sum()}} Franken</p>
